body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--white, #FFFFFF);
    text-decoration: none;
}


.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

/* ----------------HEADER---------------- */

.header-logo-colour {
    color: var(--navyblue, #2E2F42);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.header-logo {
    color: var(--iris, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.header-menu-link {
    color: var(--navyblue, #2E2F42);
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}

.header-menu-item {

}

.address {
    font-style: normal;
}

.header-address-link {
    color: var(--slate, #434455);
    /* Body */
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.header-address-link:hover {
    color: #404bbf;
}

.header-address-link:focus {
    color: #404bbf;
}

/* ----------------HERO---------------- */

.hero {
    background-color: var(--navyblue, #2E2F42);
}

.hero-title {
    color: var(--white, #FFF);
    text-align: center;
    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 0.02em;
}

.hero-btn {
    color: var(--white, #FFF);
    /* Button Text */
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.04em;
    display: inline-flex;
    background-color: var(--iris, #4D5AE5);
    font-family: "Roboto", sans-serif;
}

.hero-btn:hover {
    color: #404bbf;
}

.hero-btn:focus {
    color: #404bbf;
}

/* ----------------ADVANTAGES---------------- */

.advantages {}

.advantages-title {}

.advantages-list {}

.list {}

.advantages-item {}

.advantages-subtitle {
    color: var(--navyblue, #2E2F42);
    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
}

.advantages-description {
    color: var(--slate, #434455);
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* Body */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

/* ----------------DOING---------------- */

.doing {}

.doing-title {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    /* Header 2 */
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.doing-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.list {}

.doing-images {}

/* ----------------TEAM---------------- */

.team {
    background-color: var(--cloud, #F4F4FD);
}

.team-title {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    /* Header 2 */
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {
    background-color: #FFFFFF;
}

.list {}

.team-item {
    background-color: var(--white, #FFF);
}

.team-name {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
}

.team-name-position {
    color: var(--slate, #434455);
    text-align: center;
    /* Body */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

/* ----------------FOOTER---------------- */

.footer-section {
    background-color: var(--navyblue, #2E2F42);
}

.footer-logo-colour {
    color: var(--cloud, #F4F4FD);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-logo {
    color: var(--iris, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-description {
    color: var(--cloud, #F4F4FD);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    text-decoration: none;
}